.daily-offers {
    border-bottom: 1px solid gray;
  }
  
  .title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .products {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .product-card {
    flex: 1;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  
  .product-card img {
    max-width: 100px;
    height: auto;
  }
  
  .view-all-button {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
  }
  