.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
    height: 220px;
  }
  
  .section {
    flex: 1;
    padding: 15px;
  }
  
  .qr-code {
    max-width: 100px;
    max-height: 100px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    font-size: 24px;
    color: white;
  }
  
  /* Estilo para dispositivos móveis */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      height: auto;
    }
  }
  